<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReciPurrrr!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/style.css" />

</head>


<body>
    <!--Nav-bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light narvar-text" id="nav-bar">
        <a class="navbar-brand heading_text" href="/"><b>ReciPurrrr!</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse nav-left" id="navbarNavDropdown">
            <ul class="nav navbar-nav ml-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Data <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </div>

    </nav>
    <!--Nav-bar ends here-->
    <div class='blur-container' id="blur">
    <div class="row" id="swiper-banner">
            <div class="container col-md-12" >
            <div class="swiper-container">
                <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../static/figure/1.jpg" alt="" height="100%"></div>
                <div class="swiper-slide"><img src="../static/figure/2.jpg" alt="" height="100%"></div>
                <div class="swiper-slide"><img src="../static/figure/3.jpg" alt="" height="100%"></div>
                <div class="swiper-slide"><img src="../static/figure/4.jpg" alt="" height="100%"></div>
                <div class="swiper-slide"><img src="../static/figure/5.jpg" alt="" height="100%"></div>
                <div class="swiper-slide"><img src="../static/figure/6.jpg" alt="" height="100%"></div>
                <div class="swiper-slide"><img src="../static/figure/7.jpg" alt="" height="100%"></div>
                
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        </div>
        
        <div class="row">
                <div class="box" id='search-box'>
                    <h1>Find Grub</h1>
                    <form action="/search_recipe" method="post">
                        <input type="text" name="query" placeholder="name, ingredients, taste...">
                        <input type="submit" name="" value="Feed Me!">
                        <!-- <a href="/search_recipe" id="search-button">Feed Me!</a> -->
                    </form>
                </div>
        </div>
        

        <div class="row" id='recipe-row'>
            <div class="box" id='recipe-cards'>
                <div class="content" id="recipe-content">
                    <h2>01</h2>
                    <h3>{{top1}}</h3>
                    <!-- <h3>Recipe One</h3> -->
                    <img src="../static/figure/1.jpg" alt="Recipe preview">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/search_recipe" onclick="toggle()">See recipe</a>
                </div>
            </div>
            
            <div class="box" id='recipe-cards'>
                <div class="content" id="recipe-content">
                    <h2>02</h2>
                    <h3>{{top2}}</h3>
                    <!-- <h3>Recipe Two</h3> -->
                    <img src="../static/figure/2.jpg" alt="Recipe preview" >
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="javascript:;" onclick="toggle()">See recipe</a>
                </div>
            </div>
            
            <div class="box" id='recipe-cards'>
                <div class="content" id="recipe-content">
                    <h2>03</h2>
                    <h3>{{top3}}</h3>
                    <!-- <h3>Recipe Three</h3> -->
                    <img src="../static/figure/3.jpg" alt="Recipe preview">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <a href="javascript:;" onclick="toggle(); toggle()">See recipe</a>
                </div>
            </div>
            
        </div>
    </div>
    <div id='popup'>
        <h2>Recipe Name</h2>
        <p>ingredients</p>
        <p>cooking time: </p>
        <p>steps</p>
        <a href="javascript:;" onclick="toggle()">Close</a>
    </div>
    

            <!-- User Input Container ends here-->

            <!-- <div class="col-md-6" id="recipe-container">
                <h4>Recipe</h4>
                <p align="center">
                    <img src="../static/figure/cat_chef.jpg" alt="I dont know what I am doing.">
                </p>
                <p>

                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </p>




            </div> -->

            <!-- <div class="col-md-3" id="visualization-container">
                <h4>Nutrition Info</h4>
                <div class="radial-chart-container"> </div>
                </br>
                <div class="prep-time-container" id="power-gauge"> </div>
            </div> -->


    <script type="text/javascript" src="https://d3js.org/d3.v2.min.js"></script>
    <script src="../static/js/power_gauge.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../static/js/radial_bar_chart.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script type='text/javascript'>
        function toggle() {
            var blur = document.getElementById('blur');
            blur.classList.toggle('active');
            var popup = document.getElementById('popup');
            popup.classList.toggle('active');
            console.log("toggling");
        }            
    </script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 20,
            stretch: 0,
            depth: 200,
            modifier: 1,
            slideShadows : true,
          },
        //   loop: true,
        //   pagination: {
        //     el: '.swiper-pagination',
        //   },
        });
      </script>

    <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="//d3js.org/topojson.v1.min.js"></script>
        <script src="../static/js/covid-map.js"></script>
        <script src="../static/js/bar_chart.js"></script>
        <script src="../static/js/scatter_plot.js"></script> -->
</body>


</html>